<ion-content [fullscreen]="true">
     <div class="container">
          <ion-card>
               <div class="profile">
                    <div class="profile-image-area">
                         <img class="profile-image" src="../../assets/images/pamela.jpeg" alt="Foto de Pamela">
                    </div>
                    <div class="profile-main">
                         <div class="profile-header">
                              <h2>Olá! Eu me chamo</h2>
                              <h1>Pamela Amancio Goulart</h1>
                         </div>

                         <div class="profile-info">
                              <div class="profile-card">
                                   <div class="icon-container">
                                        <ion-icon class="profile-icon" name="school-outline"></ion-icon>
                                   </div>
                                   <p>Faço Análise e Desenvolvimento de Sistemas </p>
                              </div>
                              <div class="profile-card">
                                   <div class="icon-container">
                                        <ion-icon class="profile-icon" name="people-outline"></ion-icon>
                                   </div>
                                   <p>Pertenço a turma ADS0301M</p>
                              </div>
                              <div class="profile-card">
                                   <div class="icon-container">
                                        <ion-icon class="profile-icon" name="location-outline"></ion-icon>
                                   </div>
                                   <p>Sou da unidade de Bonsucesso</p>
                              </div>

                         </div>
                    </div>
               </div>
          </ion-card>
     </div>
</ion-content>
